/* p, h1, h2 {
    color: #555;
}

button{
    background: #ff4500;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    margin: 10px auto;
    cursor: pointer; */
/* } */

.imgLogo {
    height: 12%;
    width: 12%;
  }
  .bg-gray {
    background-color: rgb(23, 28, 34);
  }
  
  body {
    overflow-x: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
      
  }

  .bgdark {
    background-color: #000000;
  }